{{!-- views/add-expense.handlebars --}}
<div class="add-expenses-container">
<h1>Add Expenses</h1>
<form action="/add-expense" method="post">
    <div>
   
       <div>
    <label for="category">Category:</label>
    <select name="category_id" id="category">
        {{#each categories}}
            <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
</div>

    </div>
    <div>
    <label for="description">Description:</label>
    <input type="text" name="description" id="description" required>
</div>

    <div>
        <label for="amount">Amount:</label>
        <input type="number" name="amount" id="amount" required>
    </div>
    
    <button type="submit">Add Expense</button>
</form>
<a href="/" class="back-button">Back to Dashboard</a>
</div>