{{! views/add-expense.handlebars }}
<div class="add-expenses-container">
  <h1>Add Expenses</h1>
  <form action="/add-expense" method="post">
    <div>

      <div>
        <label for="category">Category:</label>
        <select name="category_id" id="category">
          {{#each categories}}
            <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>

    </div>
    <div>
      <label for="description">Description:</label>
      <input type="text" name="description" id="description" required />
    </div>

    <div>
      <label for="amount">Amount:</label>
      <input type="number" name="amount" id="amount" required />
    </div>

    <button type="submit">Add Expense</button>
  </form>
  <a href="/" class="back-button">Back to Dashboard</a>
</div>
{{#if errorMessage}}
<div class="error-message">
    {{errorMessage}}
</div>
{{/if}}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('form');

        form.addEventListener('submit', function(event) {
            const description = document.getElementById('description').value.trim();
            const amount = document.getElementById('amount').value.trim();

            let errorMessage = '';
            if (!description) {
                errorMessage += 'Description is required. ';
            }
            if (!amount) {
                errorMessage += 'Amount is required. ';
            }

            if (errorMessage) {
                event.preventDefault(); // Prevent form from submitting
                alert(errorMessage); // Show an alert box with the error message
            }
        });
    });
</script>
